/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

.env
.env.backup
.env.production
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/api/.env
/api/vendor
/api/storage/*.key
/api/storage/pail
/api/storage/app/*
/api/storage/framework/*
!/api/storage/app/.gitignore
!/api/storage/framework/.gitignore

/frontend/node_modules
/frontend/dist

/public
